.footer {
    /* background-color: #1a1a1a; */
    color: #ffffff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer h5 {
    color: #f8f9fa;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer p,
.footer a {
    color: #bbbbbb;
    font-size: 14px;
    text-decoration: none;
}

.footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer ul {
    padding-left: 0;
}

.footer ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer ul li a {
    color: #bbbbbb;
}

.footer ul li a:hover {
    color: #ffffff;
}

@media (max-width: 767.98px) {
    .footer h5 {
        text-align: center;
    }

    .footer ul,
    .footer p {
        text-align: center;
    }

    .footer ul li {
        display: inline-block;
        margin-right: 15px;
    }

    .footer ul li:last-child {
        margin-right: 0;
    }
}